## Environment ##
NODE_ENV=development

## Server ##
PORT=3000
HOST=localhost

## GitHub ##
GITHUB_API_TOKEN=replace_with_a_local_token

## Setup jet-logger ##
JET_LOGGER_MODE=console
JET_LOGGER_FILEPATH=jet-logger.log
JET_LOGGER_TIMESTAMP=true
JET_LOGGER_FORMAT=line
